<footer class="border-t border-white/5 py-6 px-6 w-full mt-auto flex-shrink-0">
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center opacity-70 space-y-4 md:space-y-0 font-bold">
        <a asp-page="/Index" class="fancy-nav lime-text text-xl cursor-pointer">LIME MERCHANT</a>
        <div class="text-sm">© 2026 Lime Merchant. All rights reserved.</div>
        <div class="flex space-x-6 text-sm font-black uppercase tracking-widest">
            <a asp-page="/Privacy" class="hover:lime-text">Privacy</a>
            <a asp-page="/Terms" class="hover:lime-text">Terms</a>
        </div>
    </div>
</footer>

